<h3>{{ site.data.strings.sidebars.search.heading }}</h3>

<div>
  <form method="get" action="https://staging.f-droid.org/search">
    <input type="search" class="search-input" name="q">
    <input type="hidden" name="lang" value="{{ site.active_lang }}">
    <input type="submit" value="search" class="material-button" />
  </form>
</div>
